<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基本信息</title>

    <meta name="pragma" content="no-cache">
    <meta name="cache-control" content="no-cache">
    <meta name="expires" content="0">
    <link th:insert="~{script :: #copy}">
</head>
<style type="text/css">
    .myselect{
        height:30px;
    }
</style>
<body style="width:100%;max-width:100%;padding:10px 30px;">
<form id="form" method="post">
    <strong>主要信息</strong>
    <section class="info-section">

        <table id="tb">
            <tr>
                <td class="text-title">线索负责人</td>
                <td class="text-content">
                    <span th:text="${owner}"></span>
                </td>
                <td class="text-title">公司名</td>
                <td class="text-content">
                    <span th:text="${lead.name}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-title">来源</td>
                <td class="text-content">
                    <span th:text="${lead.source}"></span>
                </td>
                <td class="text-title">联系人姓名</td>
                <td class="text-content">
                    <span th:text="${lead.contactName}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-title">职位</td>
                <td class="text-content">
                    <span th:text="${lead.position}"></span>
                </td>
                <td class="text-title">尊称</td>
                <td class="text-content">
                    <span th:text="${lead.saltname}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-title">手机</td>
                <td class="text-content">
                    <span th:text="${lead.mobile}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-title" >邮箱</td>
                <td class="text-content">
                    <span th:text="${lead.email}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-title">地址</td>
                <td class="text-content" colspan="3">
                    <span th:text="${lead.address}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-title">下次联系时间</td>
                <td class="text-content">
                    <span th:text="${lead.nextstepTime}"></span>
                </td>
                <td class="text-title">下次联系内容</td>
                <td class="text-content">
                    <span th:text="${lead.nextstep}"></span>
                </td>
            </tr>
        </table>

    </section>
    <strong>附加信息</strong>
    <section class="info-section">
        <table>
            <tr>
                <td class="text-title">备注</td>
                <td class="text-content">
                    <textarea name="business.description" disabled="disabled" rows="5" style="width:80%;" th:text="${lead.leadnote }"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;margin-top: 10px;">
                    <a href="javascript:void(0);" id="confirmBtn" class="easyui-linkbutton button-primary" style="margin-left:-70px;">确认</a>
                </td>
            </tr>
        </table>
    </section>
</form>

<script type="text/javascript">
    //确认并退出按钮
    $("#confirmBtn").on("click", function(event) {
        parent.closeTopWindow();
    });
</script>
</body>
</html>