<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>任务</title>
    <meta charset="utf-8">
    <meta name="pragma" content="no-cache">
    <meta name="cache-control" content="no-cache">
    <meta name="content-type" content="text/html;charset=UTF-8">
    <meta name="expires" content="0">
    <!--
    <link rel="stylesheet" type="text/css" href="styles.css">
    -->
    <link th:insert="~{script :: #copy}">
</head>

<body>
<div>
    <select  name="taskVo" id="taskVo" class="easyui-combobox theme-textbox-radius" style="width:120px">
        <option value="1">任意字段</option>
        <option value="t.subject">主题</option>
        <option value="t.creator_user_id">创建者</option>
        <option value="t.owner_user_id">负责人</option>
        <option value="t.status">任务状态</option>
        <option value="t.priority">优先级</option>
        <option value="t.description">描述</option>
        <option value="t.duedate">截止日期</option>
        <option value="t.createdate">创建日期</option>
        <option value="t.updtadate">更行日期</option>
    </select>
    <select name="taskVo.creatorUsername" id="username" class="easyui-combobox theme-textbox-radius" style="width:100px" >
        <option value="1">包含</option>
        <option value="2">人名</option>
    </select>
    <input name="subject" type="text" value="" class="easyui-textbox theme-textbox-radius">
    <a href="javascript:void(0);" onclick="return searchs()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
</div>

<table id="taskList"class="easyui-datagrid">

</table>

<div id="toolbar">
    <a href="javascript:void(0);" onclick="return add('toTaskAdd')" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新建</a>
    <a href="javascript:void(0);" onclick="return del('manage/task/TaskAction_del.action')" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
    <a href="javascript:void(0);" onclick="return edit('manage/task/TaskAction_edit.action');" id="editBtn" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>

</div>

</body>
<script type="text/javascript">
    function add(url){
        parent.openTopWindow(
            {
                width :500,
                height:700,
                "title":"添加任务",
                "url":url,
                close:function(){
                    $("#taskList").datagrid("reload")
                }

            }
        )
    }
    function searchs(){
        $("#taskList").datagrid("load",{
            "subject" : $("input[name=subject]").val(),
            "taskVo" :$("#taskVo").val(),
            "username" :$("#username").val()
        })
    }
    function del(url){
        var rows=$("#taskList").datagrid("getChecked");
        if(!rows.length){
            $.messager.alert("警告","请选择要删出的任务");
            return ;
        }
        $.messager.confirm("警告","数据删除无法恢复",function(b){
            if(b){
                var ids=new Array();
                $.each(rows,function(index,obj){
                    ids.push(obj.taskid)
                })
                ids=ids.join(",")
                $.post(url,
                    {"ids":ids},
                    function(data){
                        if(data.success && data){
                            $.messager.alert("提示",data.message)
                            $("#taskList").datagrid("reload");
                            return
                        }
                        $.messager.alert("提示",data.message)

                    },
                    "json"
                )
            }
        })

    }
    function edit(url){
        var rows=$("#taskList").datagrid("getChecked");
        if(!rows.length){
            $.messager.alert("提示","请选择要修改的任务");
            return ;
        }
        var taskId=rows[0].taskid;
        parent.openTopWindow({
            width:500,
            height:700,
            title:"修改任务",
            "url":url+"?taskVo.taskid="+taskId,
            close:function(){
                $("#taskList").datagrid("reload")
            }
        })
    }
    $(function(){
        $("#taskList").datagrid({
            url:"TaskAll",
            pagination:true,
            toolbar:"#toolbar",
            fitColumns:true,
            idField:"taskid",
            rownumbers:true,
            columns :[
                [
                {field:"taskid",title:"选择",width: 10,checkbox:true},
                {field:"subject" ,title:"主题",width:7},
                {field:"aboutusers",title:"相关信息",width:10},
                {field:"name",title:"负责人",width:0},
                {field:"status",title:"状态",width:10},
                {field:"priority",title:"优先级",width:10},
                {field:"username",title:"创建者",width:10},
                {field:"duedate" ,title:"截止日期",width:10},
                {field:"operation",title:"操作",formatter:function(value,rowData,index){
                        return "<a href='javascript:void(0);' onclick='see("+index+")'>查看</a>"+
                            "<a href='javascript:void(0);' onclick='modify("+index+")'>修改</a>"
                    }},


            ]
            ],

        })
    })

    function see(index){
        $("#taskList").datagrid("selectRow",index);
        var row=$("#taskList").datagrid("getSelected");
        var id=row.taskid;
        parent.openTopWindow({
            width:500 ,
            height:700 ,
            title:"查看" ,
            url: "manage/task/TaskAction_see.action?taskVo.taskid="+id ,
            close:function(){
                $("#taskList").datagrid("reload")
            }
        })

    }
    function modify(index){
        $("#taskList").datagrid("selectRow",index)
        var row=$("#taskList").datagrid("getSelected")
        var id=row.taskid;
        parent.openTopWindow(
            {
                width:500,
                height:700,
                title:"修改任务",
                url:"manage/task/TaskAction_modify.action"+"?taskVo.taskid="+id,
                close:function(){
                    $("#taskList").datagrid("reload")
                }
            }
        )
    }

</script>
</html>