<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My JSP 'list.jsp' starting page</title>

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link th:insert="~{script :: #copy}">
</head>
<body>
<div>
    <span>视图：</span><span onclick="return whole('system/customer/CustomerAction_pagination.action')" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">全部</span>|
    <span onclick="return myCustomer('system/customer/CustomerAction_myCustomer.action')" class="easyui-linkbutton" data-options="plain:true">我负责的</span>|
    <span onclick="return myCreate('system/customer/CustomerAction_myCustomer.action')" class="easyui-linkbutton" data-options="plain:true">我创建的</span>|
    <span onclick="return subCustomer('system/customer/CustomerAction_subCustomer.action')" class="easyui-linkbutton" data-options="plain:true">下属负责</span>|
    <span onclick="return subCreate('system/customer/CustomerAction_subCustomer.action')" class="easyui-linkbutton" data-options="plain:true">下属创建的</span>
    <span onclick="return todayCreate('system/customer/CustomerAction_todayCreate.action')" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">今日需联系</span>|
    <span onclick="return weekCreate('system/customer/CustomerAction_weekCreate.action')" class="easyui-linkbutton" data-options="plain:true">本周需联系</span>|
    <span onclick="return monthCreate('system/customer/CustomerAction_monthCreate.action')" class="easyui-linkbutton" data-options="plain:true">本月需联系</span>|
    <span onclick="return monthCreate('system/customer/CustomerAction_monthCreate.action')" class="easyui-linkbutton" data-options="plain:true">7日未联系</span>|
    <span onclick="return monthCreate('system/customer/CustomerAction_monthCreate.action')" class="easyui-linkbutton" data-options="plain:true">15日未联系</span>|
    <span onclick="return monthCreate('system/customer/CustomerAction_monthCreate.action')" class="easyui-linkbutton" data-options="plain:true">30日未联系</span>|
    <span onclick="return monthCreate('system/customer/CustomerAction_monthCreate.action')" class="easyui-linkbutton" data-options="plain:true">最近创建</span>|
    <span onclick="return monthCreate('system/customer/CustomerAction_monthCreate.action')" class="easyui-linkbutton" data-options="plain:true">最近更新</span>
    <span id="recycleBin" class="easyui-linkbutton" data-options="iconCls:'icon-recover_deleted',plain:true">回收站</span>
</div>

<div id="tool1" style="margin-bottom: 20px">
    <table>
        <tr>
            <td>
                <i class="iconfont"></i>
            </td>
            <td>
                <select id="searchBy" style="width:150px;height:25px;">
                    <option value="-1">--请选择筛选条件--</option>
                    <option value="cust.name">按客户名查询</option>
                    <option value="name">按商机名查询</option>
                    <option value="origin">按商机来源查询</option>
                    <option value="nextstep">按下一次联系内容查询</option>
                    <!-- 	<option value="owner.username">按负责人查询</option> -->
                    <!--	<option value="userByCreatoruserid">按创建人查询</option> -->
                </select>
                <select name="contain" style="width:60px;height:25px;">
                    <option value="-1">--包含--</option>
                </select>
            </td>
            <td  class="text-content">
                <input id="searchText" type="text" placeholder="请输入查询关键字" style="border:1px solid black;height:25px;">
                <span id="search" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</span>
            </td>
            <td>
                <span id="addBtn" onclick="return add('toAddBusiness')" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加商机</span>
                <span id="tool" class="easyui-linkbutton" data-options="iconCls:'icon-cog',plain:true">商机工具</span>
            </td>
        </tr>
    </table>
</div>
<div id="businessList"></div>
</body>
<script type="text/javascript">
    $("#search").on("click",function(event){
        var searchBy=$("#searchBy").val();
        var searchText=$("#searchText").val();
        $("#businessList").datagrid("load",{
            "searchBy":$("#searchBy").val(),
            "searchText":$("#searchText").val()
        })
    })
    $("#reset").on("click",function(event){
        $("#searchBy").val("-1");
        $("#searchText").val("");
    })

    function add(url){
        /*parent.parent.openTopWindow({
            width:900,
            height:600,
            title:"添加商机",
            "url": url,
            close:function(){
                $("#businessList").datagrid("reload");
            }
        });*/
        var win=window.parent.open(url,"添加商机" , "width=900 , height=600,location=no,menuban=no ,toolban=no")
    }

    $(function(){
        //分页展示客户列表
        $("#businessList").datagrid({
            url:"listBusiness",
            fitColumns:true,
            checkOnSelect:false,
            idField:"name",
            pagination:true,
            sortName:"name",
            columns:[
                [
                {field:"选择",checkbox:true},
                {field:"id",hidden:true},
                {field:"customerName",title:"客户",width:12},
                {field:"name",title:"商机名",width:12},
                {field:"origin",title:"商机来源",width:10},
                {field:"nextstepTime",title:"下一次联系时间",width:10},
                {field:"nextstep",title:"下一次联系内容",width:10},
                {field:"ownerUser",title:"负责人",width:5},
                {field:"createUser",title:"创建人",width:5},
                {field:"createTime",title:"创建时间",width:10},
                {field:"updateTime",title:"更新时间",width:10},
                {field:"operation",title:"操作",width:20,formatter:function(value,row,index){
                        return "<a href='javascript:void(0)' onclick='return see("+index+")'>查看</a>"+
                            " <a href='javascript:void(0)' onclick='return modify("+index+")'>修改</a>";
                    }}
            ]
            ],
            /*loadFilter:function(data){
                return {total : data.data.totalRows,rows:data.data.result}
            }*/
        })
    })
    function see(index){
        $("#businessList").datagrid("selectRow",index);
        var row=$("#businessList").datagrid("getSelected");
        parent.parent.openTopWindow({
            width:900,
            height:600,
            title:"查看商机",
            "url": "manage/business/BusinessAction_see.action?busi.businessid="+row.id,
            close:function(){
                $("#businessList").datagrid("reload");
            }
        });
    }
    function modify(index){
        $("#businessList").datagrid("selectRow",index);
        var row=$("#businessList").datagrid("getSelected");
        parent.parent.openTopWindow({
            width:900,
            height:600,
            title:"修改商机",
            "url": "manage/business/BusinessAction_edit.action?busi.businessid="+row.id,
            close:function(){
                $("#businessList").datagrid("reload");
            }
        });
    }
</script>
</html>