<!DOCTYPE html>
<html lang="en">
<head>
<!--    <base href="<%=basePath%>">-->
    <meta charset="UTF-8">
    <title>详情页面</title>
    <meta charset="utf-8">
    <meta name="pragma" content="no-cache">
    <meta name="cache-control" content="no-cache">
    <meta name="content-type" content="text/html;charset=UTF-8">
    <meta name="expires" content="0">
    <link th:insert="~{script :: #copy}">

</head>

<body style="width:100%;max-width:600px;padding:30px 60px;">
<section class="info-section">
    <form id="form" method="post" action="ProduceAdd">
        <table>
            <tr>
                <td class="text-title">产品名称：</td>
                <td class="text-content">
                    <input type="hidden" name="creator_user_id" th:value="${session.user.getId()}">
                    <input type="text" name="name" class="easyui-textbox theme-textbox-radius" data-options="required:true,validType:'length[3,10]'" readOnly="true" th:value="${show.getName()}">
                </td>
            </tr>
            <tr>
                <td class="text-title">详情链接：</td>
                <td class="text-content">
                    <input type="text" name="link" class="easyui-textbox theme-textbox-radius" data-options="required:true" readOnly="true" th:value="${show.getLink()}">
<!--                    <input type="hidden" name="productVO.user" value="">-->
                </td>
            </tr>

            <tr>
                <td class="text-title">创建人：</td>
                <td class="text-content">
                    <input type="text" name="productVO.user" class="easyui-textbox theme-textbox-radius" data-options="required:true" readOnly="true" th:value="${show.getUsername()}">
                </td>

            </tr>

            <tr>
                <td class="text-title">创建时间：</td>
                <td class="text-content">
                    <input type="text" name="productVO.updatetime" class="easyui-textbox theme-textbox-radius"data-options="required:true" readOnly="true" th:value="${show.getCreateTime()}" >
                </td>
            </tr>

            <tr>
                <td class="text-title">更新时间：</td>
                <td class="text-content">
                    <input type="text" name="productVO.updatetime" value="" class="easyui-textbox theme-textbox-radius"data-options="required:true" readOnly="true" th:value="${show.getUpdateTime()}?${show.getUpdateTime()}:'暂无更新'">
                </td>
            </tr>


            <tr>
                <td class="text-title">成本价格：</td>
                <td class="text-content">
                    <input type="text" name="costprice" class="easyui-textbox theme-textbox-radius" data-options="required:true" readOnly="true" th:value="${show.getCostprice()}">
                </td>
            </tr>
            <tr>
                <td class="text-title">建议价格：</td>
                <td class="text-content">
                    <input type="text" name="suggestedprice" class="easyui-textbox theme-textbox-radius" data-options="required:true" readOnly="true" th:value="${show.getSuggestedprice()}">
                </td>
            </tr>

        </table>
    </form>
</section>
<script type="text/javascript">
    $(function() {
        //重置按钮
        $("#resetBtn").on("click",function(event){
            $("#form").form("reset");
        });
        //为保存按钮添加事件
        $("#saveBtn").on("click",function(event){
            $("#form").form("submit",{
                url:"ProduceAdd",
                onSumbit : function(){
                    //调用easyui中form对象的validate方法对表单中数据进行校验，该方法返回boolean值，如果为false会阻止表单提交
                    return $("#form").form("validate");
                },
                success : function(data){
                    var obj = eval("("+data+")");
                    if(obj.success){
                        $.messager.alert("提示",obj.message,function () {
                            window.parent.close();
                        });

                        // parent.closeTopWindow();
                    }else{
                        $.messager.alert("警告",obj.message);
                    }
                }
            },"json");
        });


    });

</script>
</body>
</html>