<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短信发件箱</title>
    <meta charset="utf-8">
    <meta name="pragma" content="no-cache">
    <meta name="cache-control" content="no-cache">
    <meta name="expires" content="0">
    <link th:insert="~{script :: #copy}">
</head>
<body>
<!--<div id="tool1" style="margin-bottom: 20px">-->
    <table id="productList" class="easyui-datagrid">
        <div id="toolbar">
        <tr>
            <td >
                <select id="searchBy" style="width:100px;height:25px;">
                    <option value="-1">--请选择筛选条件--</option>
                </select>
                <select name="contain" style="width:60px;height:25px;">
                    <option value="-1">包含</option>
                </select>

                <input id="searchText" type="text"  style="border:1px solid black;height:25px;">
                <span id="search" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</span>
                <span><a href="javascript:void(0);" onclick="return del('ProduceDelete')" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a></span>
            </td>
        </tr>
        </div>
    </table>




<!--        <input type="reset"  id="setBtn1" class="easyui-linkbutton" data-options="iconCls:'icon-reload' ">-->
<!--        <a href="javascript:void(0);" onclick="return mysearch()" id="searchBtn" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>-->
<!--        <a href="javascript:void(0);" onclick="return del('ProduceDelete')" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>-->
<!--    </div>-->
<script type="text/javascript">
    $(function(){
        $("#productList").datagrid({
            url : "#",
            pagination : true,
            toolbar : "#toolbar",
            fitColumns : true,
            idField : "id",
            rownumbers : true,
            //singleSelect:true,
            columns : [
                [
                    {field:"id",title:"选择",checkbox:true},
                    {field:"name",title:"发件人",sortable:true,width:10},
                    {field:"link",title:"接收号码",width:10},
                    {field:"username",title:"发送内容",width:10},
                    {field:"createTime",title:"发送时间",width:10},
                ]
            ],

        });
    });
</script>
</body>
</html>