<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%=basePath%>">

    <title>合同列表</title>

    <meta name="pragma" content="no-cache">
    <meta name="cache-control" content="no-cache">
    <meta name="expires" content="0">
    <link th:insert="~{script :: #copy}">

</head>

<body >
<div>
    <select class="easyui-combobox theme-textbox-radius" style="width:120px" id="contractOne">
        <option value="b.name">客户</option>
        <option value="customername">联系人</option>
        <option value="fuzeren">负责人</option>
    </select>
    <select class="easyui-combobox theme-textbox-radius" style="width:100px" id="contractTwo">
        <option value="1">包含字段</option>
        <option value="2">精确查询</option>
    </select>
    <span>查询:</span>
    <input id="contract" style="line-height:26px;border:1px solid #ccc">
    <a href="javascript:void(0);" class="easyui-linkbutton" plain="true" onclick="doSearch()" data-options="iconCls:'icon-search',plain:true">搜索</a>
</div>
<table id="contractList" class="easyui-datagrid"></table>
<div id="toolbar">
    <a href="javascript:void(0);" onclick="return add('tocontractadd')" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新建</a>
    <a href="javascript:void(0);" onclick="return del('contraectdelete')" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
    <a href="javascript:void(0);" onclick="return edit('manage/position/ContractAction_edit.action');" id="editBtn" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>
</div>
</div>
<script type="text/javascript">
    //条件查询
    function doSearch(){
        $('#contractList').datagrid('load',{
            "contractName":$('#contractOne').val(),
            "cha":$("#contract").val(),
            "contractTwo":$("#contractTwo").val()
        });
    }
    //添加合同
    function add(url){
        var win =window.parent.open(url,"sss","width=800,height=600")
        // parent.openTopWindow(
        //     {
        //         width :500,
        //         height:700,
        //         "title":"添加任务",
        //         "url":url,
        //         close:function(){
        //             $("#contractList").datagrid("reload")
        //         }
        //
        //     }
        // )
    }
    //修改部门
    function edit(url){
        var rows = $("#contractList").datagrid("getChecked");
        if(!rows.length){
            $.messager.alert("警告","请选择要修改的数据");
            return false;
        }
        var id=rows[0].contractid;
        parent.openTopWindow({
            width:800,
            height:600,
            title:"修改岗位信息",
            "url": url+"?contractid="+id,
            close:function(){
                $("#contractList").datagrid("reload");
            }

        });
    }


    //删除部门
    function del(url){
        //获取到选中的一行数据
        var rows = $("#contractList").datagrid("getChecked");
        if(!rows.length){
            $.messager.alert("警告","请选择要删除的数据");
            return;
        }

        $.messager.confirm("警告","数据删除后无法恢复，是否确认删除",function(b){
            if(b){
                var ids = new Array();
                $.each(rows,function(index,obj){
                    ids.push(obj.id);
                });
                //将数组中元素使用,分割拼接为一个字符串
                ids = ids.join(",");
                $.post(url,
                    {
                        "ids" : ids
                    },
                    function(data){
                        if(data && data.success){
                            $.messager.alert("提示",data.message);
                            $("#contractList").datagrid("reload");
                            return;
                        }
                        $.messager.alert("警告",data.message);
                    },"json");
            }
        });
    }

    //加载用户数据
    $(function(){
        $("#contractList").datagrid({
            url : "ConntractAll",
            //queryParams:{"positionName":$("#positionName").val()},
            pagination : true,
            toolbar : "#toolbar",
            fitColumns : true,
            idField : "id",
            rownumbers : true,
            // singleSelect:true,
            // showHeader:true,//定义是否显示头部
            columns : [
                [
                {field:"id",title:"选择合同",checkbox:true},
                {field:"number",title:"合同编号",width:"120px"},
                {field:"customerName",title:"客户",width:"70px"},
                {field:"username",title:"负责人",width: "80px"},//ownerUserName
                {field:"name",title:"联系人",width: "80px"},
                {field:"dueTime",title:"签约日期",width: "100px"},
                {field:"price",title:"合同金额"},
                {field:"status",title:"状态", styler:function (value) {
                    if (value=='未签约'){
                        return 'color:red;font-weight: bold;';
                    }

                    }},
                {field:"endTime",title:"距离到期时间"},
                {field:"operation",title:"操作",formatter:function(value,row,index){
                        return "<a href='manage/position/ContractAction_edit.action?ids='"+row.index+">查看</a>"+
                            "&nbsp;&nbsp<a href='javascript:void(0)' onclick='return modify("+index+")'>编辑</a>";
                    }}


            ]
            ],
            // loadFilter:function(data){
            //     //data是服务器返回的数据,将服务器端返回的数据转换为datagrid需要的格式
            //     return {"total":data.data.totalRows,"rows":data.data.result};
            // }

        });
    });
</script>
</body>
</html>