<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>添加客户</title>

    <meta name="pragma" content="no-cache">
    <meta name="cache-control" content="no-cache">
    <meta name="content-type" content="text/html;charset=UTF-8">
    <meta name="expires" content="0">
    <link th:insert="~{script :: #copy}">
    <link th:href="@{http://www.easyui-extlib.com/Content/Site.css}" rel="stylesheet" />
    <script th:src="@{http://www.easyui-extlib.com/Scripts/jquery-extensions/jquery.jdirk.js}"></script>
    <link th:href="@{http://www.easyui-extlib.com/Scripts/jquery-easyui-extensions/validatebox/jeasyui.extensions.validatebox.css}" rel="stylesheet" />
    <script th:src="@{http://www.easyui-extlib.com/Scripts/jquery-easyui-extensions/validatebox/jeasyui.extensions.validatebox.rules.js}"></script>
    <style>
        *{
            margin-left: 10px;
            padding: 3px;
        }
        .tip{
            height:30px;
            text-align: right;
            background-color: #F5F5F5;
        }
    </style>
</head>
<body>
<form id="newCustomer" method="post">
    <input type="hidden" name="customer.id" value="${customer.id }">
    <input type="hidden" name="customer.isDeleted" value="${false}">
    <input type="hidden" name="customer.isLocked" value="${false }">
    <input type="hidden" name="customer.contactId" value="${customer.contactId }">
    <input type="hidden" name="customer.contactCreateUserId" value="${customer.contactCreateUserId }">
    <input type="hidden" name="customer.contactCreateTime" value="${customer.contactCreateTime }">
    <input type="hidden" name="customer.createUserId" value="${customer.createUserId }">
    <input type="hidden" name="customer.createTime" value="${customer.createTime}">
    <table>
        <tr>
            <td colspan="4">主要信息</td>
        </tr>
        <tr>
            <td class="tip">负责人：</td>
            <td><select id="owner" name="customer.ownerId" style="width:146px;height:32px" data-options="required:true">
                <option>--请选择--</option>
            </select>&nbsp;<a href="javascript:void(0);" class="easyui-linkbutton button-white">放入客户池</a></span></td>
            <td class="tip">客户名称：</td>
            <td><input name="customer.name" value="${customer.name }"class="easyui-textbox easyui-validatebox" data-options="validType:['chinese'],required:true"/></td>
        </tr>
        <tr>
            <td class="tip">客户行业：</td>
            <td><input name="customer.industry" value="${customer.industry }" class="easyui-textbox easyui-validatebox" data-options="required:true"/></td>
            <td class="tip">客户信息来源：</td>
            <td><input name="customer.orgin" value="${customer.orgin }" class="easyui-textbox easyui-validatebox" data-options="required:true"/></td>
        </tr>
        <tr>
            <td class="tip">公司性质：</td>
            <td><input type="radio" value="合资" ${customer.ownerShip=='合资'?'checked':'' } name="customer.ownerShip">合资&nbsp;
                <input type="radio" value="国企" ${customer.ownerShip=='国企'?'checked':'' } name="customer.ownerShip">国企&nbsp;
                <input type="radio" value="民营" ${customer.ownerShip=='民营'?'checked':'' } name="customer.ownerShip">民营</td>
            <td class="tip">邮编：</td>
            <td><input name="customer.zipCode" value="${customer.zipCode }" class="easyui-textbox easyui-validatebox" data-options="validType:['zipCode'],required:true"/></td>
        </tr>
        <tr>
            <td class="tip">年营业额：</td>
            <td><select class="easyui-combobox" name="customerVO.annualRevenue" style= "width:146px">
                <option value="-1">-请选择-</option>
                <option ${customer.annualRevenue=='1000万-3000万'?'selected':'' }>1000万-3000万</option>
                <option ${customer.annualRevenue=='3000万-6000万'?'selected':'' }>3000万-6000万</option>
                <option ${customer.annualRevenue=='6000万-9000万'?'selected':'' }>6000万-9000万</option>
            </select></td>
            <td class="tip">评分：</td>
            <td><input type="radio" name="customerVO.rating" value="一星" ${customer.rating=='一星'?'checked':'' }>一星&nbsp;
                <input type="radio" value="两星" ${customer.rating=='两星'?'checked':'' } name="customer.rating">二星&nbsp;
                <input value="三星" ${customer.rating=='三星'?'checked':'' } type="radio" name="customer.rating">三星</td>
        </tr>
        <tr>
            <td class="tip">客户联系地址：</td>
            <td colspan="3">
                <input id="addr1"class="easyui-textbox easyui-validatebox" style="width:100px" data-options="prompt:'省',required:true">
                <input id="addr2" class="easyui-textbox easyui-validatebox" style="width:100px" data-options="prompt:'市',required:true">
                <input id="addr3" class="easyui-textbox easyui-validatebox" style="width:100px" data-options="prompt:'区',required:true">
                <input id="addr4" class="easyui-textbox easyui-validatebox" data-options="prompt:'具体街道信息',required:true">
                <input id="address" name="customer.address" value="${customer.address }" type="hidden">
            </td>
        </tr>
        <tr><td colspan="4">首要联系人信息</td></tr>
        <tr>
            <td class="tip">姓名：</td>
            <td><input name="customer.contacts" value="${customer.contacts }" class="easyui-textbox easyui-validatebox" data-options="required:true"></td>
            <td class="tip">称呼：</td>
            <td><input name="customer.saltName" value="${customer.saltName }"class="easyui-textbox easyui-validatebox" data-options="required:true"></td>
        </tr>
        <tr>
            <td class="tip">邮箱：</td>
            <td><input name="customer.email" value="${customer.email }" class="easyui-textbox easyui-validatebox" data-options="required:true,validType:'email'"></td>
            <td class="tip">职位：</td>
            <td><input name="customer.post" value="${customer.post }" class="easyui-textbox easyui-validatebox" data-options="required:true"></td>
        </tr>
        <tr>
            <td class="tip">QQ：</td>
            <td><input name="customer.qq" value="${customer.qq }" class="easyui-textbox easyui-validatebox" data-options="required:true,validType:['integer']"></td>
            <td class="tip">手机：</td>
            <td><input name="customer.mobile" value="${customer.mobile }" class="easyui-textbox easyui-validatebox" data-options="required:true,validType:['mobile']"></td>
        </tr>
        <tr>
            <td class="tip">备注：</td>
            <td colspan="3">
                <textarea name="customer.descriptionContact" value="${customer.descriptionContact }" class="easyui-textbox" data-options="multiline:true" style="width:579px;height:60px;"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4">附加信息</td>
        </tr>
        <tr>
            <td class="tip">员工数：</td>
            <td colspan="3"><input  class="easyui-textbox" name=""></td>
        </tr>
        <tr>
            <td class="tip">备注：</td>
            <td colspan="3">
                <textarea class="easyui-textbox" name="" data-options="multiline:true" style="width:579px;height:60px;"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center;">
                <a id="save" href="javascript:void(0);" class="easyui-linkbutton button-purple" >保存</a>
                <a id="submit" href="javascript:void(0);" class="easyui-linkbutton button-pink" >保存并新建</a>
                <input class="easyui-checkbox" type="checkbox" name="" value="">同时创建商机
            </td>
        </tr>
    </table>
</form>
</body>
<script type="text/javascript">
    $(function(){
        $.post("system/user/UserAction_findAll.action",function(data){
            if(data&&data.success){
                var ownerId = "${customer.ownerId}";
                $.each(data.data,function(index,obj){

                    var option = $("<option value='"+obj.id+"' >"+obj.username+"</option>")
                    if(ownerId == obj.id){
                        option.prop("selected",true);
                    }
                    $("#owner").append(option);
                })
            }
        },"json")
        //修改回显地址
        var address = "${customer.address}";
        address = address.split("-");
        $("#addr1").textbox({"value":address[0]});
        $("#addr2").textbox({"value":address[1]});
        $("#addr3").textbox({"value":address[2]});
        $("#addr4").textbox({"value":address[3]});

        $("#submit").on("click",function(e){
            var addr1 = $("#addr1").val();
            var addr2 = $("#addr2").val();
            var addr3 = $("#addr3").val();
            var addr4 = $("#addr4").val();
            var addr = addr1+"-"+addr2+"-"+addr3+"-"+addr4;
            $("#address").val(addr);
            $("#newCustomer").form("submit",{
                url:"manage/customer/CustomerAction_saveOrUpdate.action",
                onSubmit:function(){
                    return $(this).form("validate");
                },

                success:function(data){
                    var tdata=eval("("+data+")");
                    if(tdata&&tdata.success){
                        parent.parent.$("#topWindow").window("close");
                    }
                }
            })

        })
    })
</script>
</html>