<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My JSP 'show.jsp' starting page</title>

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <link th:insert="~{script :: #copy}">
</head>
<style>
    *{
        margin-left: 10px;
        padding: 3px;
    }
    .tip{

        height:30px;
        text-align: right;
        background-color: #F5F5F5;
    }
</style>
<body>
<table>
    <tr>
        <td colspan="4">客户基本信息</td>
    </tr>
    <tr>
        <td class="tip">客户名：</td>
        <td><input class="easyui-textbox" th:value="${customer.customerName}" data-options="readonly:true"></td>
        <td class="tip">客户来源：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${customer.getOrigin()}" data-options="readonly:true"></td>
    </tr>
    <tr>
        <td class="tip">地址：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${customer.address }" data-options="readonly:true"></td>
        <td class="tip">邮编：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${customer.zipCode }" data-options="readonly:true"></td>
    </tr>
    <tr>
        <td class="tip">行业：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${customer.industry }" data-options="readonly:true"></td>
        <td class="tip">盈利额：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${customer.annualRevenue }" data-options="readonly:true"></td>
    </tr>
    <tr>
        <td class="tip">公司性质：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${customer.ownership }" data-options="readonly:true"></td>
        <td class="tip">评分：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${customer.rating }" data-options="readonly:true"></td>
    </tr>
    <tr>
        <td class="tip">客户负责人：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${owner}" data-options="readonly:true"></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="4">主要联系人</td>
    </tr>
    <tr>
        <td class="tip">姓名：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.name}"  data-options="readonly:true" ></td>
        <td class="tip">性别：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.sex==1}?'男':'女'"  data-options="readonly:true"></td>
    </tr>
    <tr>
        <td class="tip">部门：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.department}" data-options="readonly:true"></td>
        <td class="tip">职位：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.post}" data-options="readonly:true"></td>
    </tr>
    <tr>
        <td class="tip">称呼：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.saltname}" data-options="readonly:true"></td>
        <td class="tip">电话：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.telephone}" data-options="readonly:true"></td>
    </tr>
    <tr>
        <td class="tip">QQ：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.qqNo}" data-options="readonly:true"></td>
        <td class="tip">Email：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.email}" data-options="readonly:true"></td>
    </tr>
    <tr>
        <td class="tip">地址：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.address}" data-options="readonly:true"></td>
        <td class="tip">邮编：</td>
        <td><input class="easyui-textbox validatebox-text validatebox-readonly" th:value="${contact.zipCode}" data-options="readonly:true"></td>
    </tr>

    <tr>
        <td class="tip">描述：</td>
        <td colspan="3">
            <textarea style="width:579px;height:60px;" class="easyui-textbox" th:text="${contact.description}" data-options="readonly:true,multiline:true"></textarea>
        </td>
    </tr>

    <tr>
        <td colspan="4">系统信息</td>
    </tr>
    <tr>
        <td class="tip">创建人：</td>
        <td><input class="easyui-textbox validatebox-readonly" th:value="${createUser.username}" data-options="readonly:true"></td>
        <td class="tip">创建时间：</td>
        <td><input class="easyui-textbox validatebox-readonly" th:value="${#dates.format(createUser.createTime,'yyyy-MM-dd HH:mm:ss')}" data-options="readonly:true"></td>
    </tr>
</table>
</body>
</html>