<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.jtcrm.dao.AnnouncementMapper">

<!--   查找所有 -->
    <select id="SelectFindAll" resultType="announcement">
        SELECT a.id,d.`name`,u.username,a.title,a.content,a.update_time,a.status FROM tb_crm_announcement a,tb_crm_department d,tb_system_user u
         <where>
              and a.user_id=u.id
              AND state = 0
              AND a.department=d.id
              <if test="title!=null&amp;&amp;title.length()>0">
              and title = #{title}
              </if>

              <if test="name!=null&amp;&amp;name.length()>0">
              and d.name= #{name}
              </if>
         </where>
        limit #{page},#{rows}
    </select>

<!--  为修改功能查所需要的全部数据  -->
    <select id="SelectAll" resultType="announcement">
        SELECT a.id,d.`name`,u.username,a.title,a.content,a.update_time,a.status,a.order_id,a.color FROM tb_crm_announcement a,tb_crm_department d,tb_system_user u WHERE a.user_id=u.id AND state = 0 AND a.department=d.id AND a.id = #{id}
    </select>

<!--  详情，查找所有-->
    <select id="SelectInfo" resultType="announcement">
        SELECT a.id,d.`name`,u.username,a.color,a.title,a.content,a.update_time,a.status FROM tb_crm_announcement a,tb_crm_department d,tb_system_user u WHERE a.user_id=u.id AND state = 0 AND a.department=d.id AND a.id=#{id}
    </select>

</mapper>