<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.jtcrm.dao.BusinessMapper">

    <select id="selectByPage" resultType="businessVO">
        select id,name,origin,customer_id,creator_user_id,owner_user_id,create_time,update_time,nextstep,nextstep_time,delete_status from tb_crm_business
    <where>
        delete_status=0
        <if test="searchBy == 'customer_name'">
            and customer_id = #{searchText}
        </if>
        <if test="searchBy=='name'">
            <bind name="s" value="'%'+_parameter.searchText+'%'"/>
            and name like #{s}
        </if>
        <if test="searchBy=='origin'">
            <bind name="s" value="'%'+_parameter.searchText+'%'"/>
            and origin like #{s}
        </if>
        <if test="searchBy=='nextstep'">
            <bind name="s" value="'%'+_parameter.searchText+'%'"/>
            and nextstep like #{s}
        </if>
    </where>
    </select>
    <select id="selectorigin" resultType="businessVO">
        select id,name from tb_crm_business where delete_status=0;
    </select>
    <select id="selectStatus" resultType="businessStatus">
        select id,name from tb_crm_business_status
    </select>
    <select id="selectOrigin" resultType="java.lang.String">
        select distinct origin from tb_crm_business
    </select>
    <select id="selectStatusName" resultType="java.lang.String">
        select name from tb_crm_business_status where id=#{id}
    </select>
</mapper>