<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.jtcrm.dao.BusinessMapper">

    <select id="selectByPage" resultType="businessVO">
        select id,name,origin,customer_id,creator_user_id,owner_user_id,create_time,update_time,nextstep,nextstep_time,delete_status from tb_crm_business
    <where>
        delete_status=0
    </where>
    </select>
</mapper>