<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.jtcrm.dao.BusinessMapper">

    <select id="selectByPage" resultType="businessVO">
        select * from tb_crm_business
    </select>
</mapper>