<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.jtcrm.dao.ContactMapper">
    <select id="selectContact" resultType="contact">
        select * from tb_crm_contact where customer_id=#{id}
    </select>
    <select id="selectName" resultType="contact">
        select id,name from tb_crm_contact;
    </select>
</mapper>