<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.jtcrm.dao.TaskMapper">
<select id="TaskFindAll" resultType="task">
    SELECT t.subject,t.owner_user_id,t.about_users,t.status,t.priority,t.creator_user_id,t.due_date FROM tb_crm_task t left join tb_system_user u on
    <choose>
    <when test="zhuang=='t.creator_user_id'">
        t.creator_user_id=u.id
    </when>
    <when test="zhuang=='t.owner_user_id'">
        t.owner_user_id=u.id
    </when>

    <otherwise>
        t.owner_user_id=u.id
    </otherwise>
    </choose>
<where>
   <if test="zhuang=='t.creator_user_id'">
        and u.username=#{subject}
   </if>
   <if test="zhuang=='t.owner_user_id'">
       and u.username=#{subject}
   </if>
<if test="zhuang=='t.subject'">
    and t.subject=#{subject}
</if>
   <if test="zhuang=='t.status'">
       and t.status=#{subject}
   </if>

   <if test="zhuang=='t.priority'">
       and t.priority=#{subject}
   </if>
   <if test="zhuang=='t.description'">
       and t.description=#{subject}
   </if>
   <if test="zhuang=='t.duedate'">
       and t.due_date=#{subject}
   </if>
   <if test="zhuang=='t.createdate'">
       and t.create_date=#{subject}
   </if>
   <if test="zhuang=='t.updtadate'">
       and t.updta_date=#{subject}
   </if>
</where>
</select>
    <select id="TaskId" resultType="user">
        select username from tb_system_user where id=#{id}
    </select>
</mapper>
